language: java
jdk:
  - openjdk11

addons:
  chrome: stable

stages:
  - name: build-linux
  - name: build-osx
  - name: release-linux
    if: branch IN (release) AND type = push
  - name: release-osx
    if: branch IN (release) AND type = push

jobs:
  include:
    - stage: build-linux
      script: ./gradlew clean build
      os: linux
      dist: trusty
    - stage: build-osx
      script: ./gradlew clean build
      os: osx
      osx_image: xcode11.6
    - stage: release-linux
      script: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -no-daemon --no-parallel
      os: linux
      dist: trusty
    - stage: release-osx
      script: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -no-daemon --no-parallel
      os: osx
      osx_image: xcode11.6
